@charset "utf-8";
/* CSS Document */

*
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

html,body
{
	height: 100%;
	min-height: 100%;
}

body
{
	background: #fff;
	background-size: cover;
	font-family: 'Oswald', 'Exo 2', Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

a
{
	color: inherit;
	outline: none;
	text-decoration: none;
}

ul
{
	list-style: none;
}

iframe
{
	border: none;
}

.clear
{
	clear: both;
	height: 0px;
}

.hidden
{
	display: none;
}

#loading
{
	background-color: rgba( 255, 255, 255, 0.95 );
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5000;
}
#loading>img
{
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}


#skrollr-body>section
{
	z-index: 50;
}


.homebody header
{
	height: 100%;
	left: 0;
	position: relative;
	top: 40px;
	width: 100%;
	z-index: 100;
}

.homebody header.animated
{
	-webkit-animation: bringdown 2s linear;
	animation: bringdown 2s linear;
}
@-webkit-keyframes bringdown
{
	0%{ top: -200px; opacity: 1; }
	1000%{ top: 40px; opacity: 1; }
}
@keyframes bringdown
{
	0%{ top: -200px; opacity: 1; }
	1000%{ top: 40px; opacity: 1; }
}

#neha
{
	left: 10px;
	position: absolute;
	top: 10px;
}

.homebody header nav
{
	float: right;
	margin-left: 40px;
	margin-right: 30px;
	position: relative;
	width: 34px;
}

#menubutton p
{
	background: url(../images/sprite.png) no-repeat -500px -42px;
	cursor: pointer;
	height: 40px;
	position: relative;
	top: -3px;
	width: 34px;
}
#menubutton p:hover
{
	background-position: -500px -2px;
}
#menubutton:hover ul
{
	opacity: 1;
	right: 0px;
}

.homebody header nav ul
{
	background: #000;
	color: #fff;
	opacity: 0;
	padding: 4px;
	position: absolute;
	right: -200px;
	text-align: right;
	text-transform: uppercase;
	top: 44px;
	-webkit-transition: opacity 0.2s linear 0.4s;
	transition: opacity 0.2s linear 0.4s, right 0.1s linear 0.2s;
}

.homebody header nav li:first-child:before
{
	background: #000;
	content: "";
	height: 10px;
	position: absolute;
	right: 10px;
	top: -5px;
	-webkit-transform: rotate( 45deg );
	transform: rotate( 45deg );
	width: 10px;
}

.homebody header nav a
{
	display: block;
	padding: 12px;
	-webkit-transition: padding 0.1s ease-in-out;
	transition: padding 0.1s ease-in-out;
	width: 160px;
}
.homebody header nav a:hover
{
	padding-right: 7px;
}

#social
{
	float: right;
	margin-right: -20px;
}
#social h2
{
	float: left;
	margin-right: 10px;
	text-transform: uppercase;
}
#social ul
{
	float: right;
	margin-right: 0px;
}

#social ul li
{
	display: inline-block;
	position: relative;
	top: -4px;
}

#social ul a
{
	background-image: url(../images/sprite.png);
	display: block;
	height: 40px;
	margin: 0 4px;
	width: 34px;
	-webkit-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

#social h2
{
	background-image: url(../images/sprite.png);
	background-position: 0px -42px;
	height: 40px;
	width: 230px;
}
#social h2:hover
{
	background-position: 0px -10px;
}

#social ul a[title='twitter']
{
	background-position: -450px -42px;
}
#social ul a[title='twitter']:hover
{
	background-position: -450px -2px;
}
#social ul a[title='facebook']
{
	background-position: -260px -42px;
}
#social ul a[title='facebook']:hover
{
	background-position: -260px -2px;
}
#social ul a[title='instagram']
{
	background-position: -330px -42px;
}
#social ul a[title='instagram']:hover
{
	background-position: -330px -2px;
}
#social ul a[title='reverbnation']
{
	background-position: -586px -42px;
}
#social ul a[title='reverbnation']:hover
{
	background-position: -586px -2px;
}
#social ul a[title='youtube']
{
	background-position: -390px -42px;
}
#social ul a[title='youtube']:hover
{
	background-position: -390px -2px;
}


#twitter
{
	bottom: 0.8em;
	font-size: 5em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	z-index: 10;
}
#twitter h2
{
	text-shadow: 2px 2px 1px rgba( 255, 255, 255, 0.6 );
}
#twitter p
{	
	color: #f00;
	font-size: 0.3em;
	position: relative;
	text-transform: none;
	top: -20px;
}
#twitter img
{
	max-width: 1280px;
	width: 100%;
}


#testimonials
{
	font-size: 3em;
	position: absolute;
	top: 150%;
	width: 100%;
}

#testimonials iframe
{
	display: block;
	margin: 0 auto;
}

#testimonials li
{
	background: linear-gradient( rgba( 100, 100, 100, 0.6 ), rgba( 200, 200, 200, 0.6 ), rgba( 100, 100, 100, 0.6 ) );
	font-family: "Times New Roman", Times, serif;
	margin: 10px auto;
	max-width: 800px;
	padding: 5px 15px;
	text-align: center;
	width: 70%;
}

#testimonials span.name
{
	color: #fff;
	display: inline-block;
	font-family: 'Impact', Verdana, sans-serif;
	padding: 0 8px;
	text-transform: uppercase;
}
#testimonials span.name:before,
#testimonials span.name:after
{
	content: "\"";
}

#albums
{
	padding: 20px;
	padding: 20px 0;
	position: absolute;
	text-align: center;
	top: 250%;
	width: 100%;
}
#albums h2
{
	text-align: left;
	width: 1000px;
}
#albums>div
{
	padding: 20px;
	background: #fa4d47;
}
#albums ul
{
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}
#albums li
{
	display: inline-block;
	margin: 0 30px;
	position: relative;
}
#albums audio
{
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
#albums .morelink
{
	margin: 0 auto;
	text-align: right;
	width: 900px;
}

#videos
{
	left: 0;
	position: absolute;
	top: 380%;
	width: 100%;
}
#videos>div
{
	margin: 5px auto;
	width: 850px;
}
#videos h3
{
	color: #fa4d47;
	float: left;
	font-size: 2em;
}
#videos .morelink
{
	float: right;
	margin-top: 5px;
}

.morelink a
{
	background: #fa4d47;
	color: #fff;
	display: inline-block;
	padding: 4px 15px;
}

#videos iframe,
#fbfeeds iframe
{
	display: block;
	margin: 0 auto;
	position: relative;
}

#skrollr-body>section>h2
{
	margin: 10px auto;
	text-transform: uppercase;
	width: 1000px;
}

#gallery
{
	left: 0;
	height: 100%;
	position: absolute;
	top: 500%;
	width: 100%;
}
#gallery ul
{
	margin: 0 auto;
	width: 992px;
}
#gallery li
{
	float: left;
}
#gallery img
{
	display: block;
}
#gallery>img
{
	display: block;
	margin: 0 auto;
}
#gallery .morelink
{
	margin: 0 auto;
	margin-top: 5px; 
	text-align: right;
	width: 992px;
}

#fbfeeds
{
	left: 0;
	padding: 20px 0;
	position: absolute;
	top: 640%;
	width: 100%;
}
#fbfeeds>div
{
	background: #fa4d47;
}

#footer,
footer
{
	background: #000;
	color: #fff;
	font-size: 0.9em;
	left: 0;
	position: absolute;
	text-align: center;
	top: 750%;
	width: 100%;
}

footer>div
{
	height: 42px;
	line-height: 42px;
	margin: 0 auto;
	width: 1000px;
}

footer nav
{
	float: left;
}
footer nav li
{
	display: inline-block;
	padding: 0 5px;
	text-transform: uppercase;
}

footer p
{
	float: right;
}
footer span
{
	display: inline-block;
	padding: 0 5px;
}

.profilebody .profilelink,
.gallerybody .gallerylink,
.downloadbody .downloadslink,
.newsbody .newslink,
.videobody .videolink,
.contactbody .contactlink,
.audiobody .audiolink
{
	color: #fa4d47;
}



.subpages header
{
	background: #fff;
	box-shadow: 1px 7px 8px rgba( 0, 0, 0, 0.5 );
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000;
}
.subpages header .logo
{
	float: left;
}
.subpages header nav
{
	float: right;
}
.subpages header nav li
{
	display: inline-block;
	font-size: 1.2em;
	height: 80px;
	line-height: 80px;
	padding: 0 12px;
	text-transform: uppercase;
}
.subpages header nav li a
{
	color: #ddd;
}
.subpages header nav li a:hover
{
	color: #000;
}


.subpages header.black
{
	background: #000;
}
.subpages header.black nav li a:hover
{
	color: #fff;
}






.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left;*/
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 160px;
    padding: 0 30px;
    line-height: 120px;
    color: rgba(255,255,255,0.8);
}
.cb-slideshow li:nth-child(1) span { background-image: url(../images/1.jpg) }
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	22% {
		opacity: 0;

		-webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -transform: scale(1.1);
	}
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.cb-slideshow li div h3 { font-size: 50px }
}





.profilebody .main
{
	background-image: url(../images/neha-kakkar-profile-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 80px;
	width: 100%;
}

#profile
{
	color: #fff;
	float: right;
	font-size: 1.2em;
	margin-bottom: 150px;
	margin-right: 35px;
	max-width: 700px;
	padding: 15px;
	text-align: justify;
	width: 50%;
}

#profile p
{
	line-height: 2.0em;
	margin: 10px auto;
}
#profile h2
{
	font-size: 3em;
	margin-bottom: 15px;
	margin-top: 30px;
}
#profile ul
{
	list-style: disc;
	margin-left: 15px;
}

#profile h3
{
	margin-top: 30px;
}
#profile .profilelinks a
{
	margin-right: 20px;
}



.videobody .main
{
	background-image: url(../images/neha-kakkar-video-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
	text-align:center;
}


.contactbody .main
{
	background-image: url(../images/neha-contact.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
	text-align:center;
}
.contact
{
	left: 0;
	top: 320px;
	width: 100%;
	text-align:center;
}
.newsbody .main
{
	background-image: url(../images/neha-kakkar-news-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
	text-align:center;
}
.downloadbody .main
{
	background-image: url(../images/neha-kakkar-download-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
	text-align:center;
}

.audiobody
{
	padding-top: 80px;
}

.musicboxes
{
	background-image: url(../images/audio/bg-1.jpg);
	background-color: #000;
	background-position: center center;
	background-size: cover;
	height: 800px;
	overflow: hidden;
	width: 100%;
}
#music2
{
	background-image: url(../images/audio/bg-2.jpg);
}
#music3
{
	background-image: url(../images/audio/bg-3.jpg);
}

.musicboxes>section
{
	background: rgba( 0, 0, 0, 0.5 );
	height: 800px;
	margin: 0 auto;
	width: 1000px;
}

.musicboxes .sidebars
{
	background: #fa4d47;
	float: left;
	height: 800px;
	position: relative;
	width: 230px;
}
#music2 .sidebars
{
	float: right;
}

.musicboxes .sidebars .prev,
.musicboxes .sidebars .next
{
	background-image: url(../images/prev-next.png);
	height: 50px;
	left: 90px;
	position: absolute;
	top: 30px;
	width: 50px;
}
.musicboxes .sidebars .next
{	
	background-position: 0px -55px;
	bottom: 30px;
	top: auto;
}

.musicboxes .viewport
{
	height: 630px;
	left: 15px;
	overflow: hidden;
	position: absolute;
	top: 85px;
	width: 200px;
}

.musicboxes .viewport ul
{
	position: relative;
	top: 0px;
}

.musicboxes .viewport li
{
	padding: 5px 0;
}
.musicboxes .viewport li img
{
	display: block;
}

.musicboxes .tracks
{
	color: #fff;
	margin-left: 230px;
	padding: 20px;
	text-transform: uppercase;
	width: 770px;
}
#music2 .tracks
{
	margin-left: 0;
	margin-right: 230px;
}

.musicboxes h2
{
	font-size: 2em;
	margin-bottom: 8px;
	margin-top: 30px;
}

.musicboxes .tracks li
{
	background: rgba( 0, 0, 0, 0.6 );
	font-size: 0.9em;
	height: 31px;
	line-height: 31px;
	opacity: 1;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.musicboxes .tracks li.dim
{
	opacity: 0.4;
}

.musicboxes .tracks li:nth-child(even)
{
	background: rgba( 0, 0, 0, 0.9 );
}

.musicboxes .tracks li.playing
{
}
.tracks li.playing .playpause
{
	background-position: 0px -17px;
}

.tracks li span
{
	display: block;
	float: left;
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 20px;
}

.tracks .playpause
{
	background: url(../images/audio/play-pause.png) no-repeat 0px 7px;
	cursor: pointer;
	height: 100%;
	text-align: center;
	width: 20px;
}

.tracks .title
{
	margin-left: 15px;
	width: 140px;
}
.tracks .album
{
	color: #fa4d47;
	margin-left: 15px;
	width: 80px;
}
.tracks .artists
{
	margin-left: 15px;
	width: 200px;
}
.tracks .lyrics
{
	display: none;
	color: #fa4d47;
	margin-left: 10px;
	width: 100px;
}
.tracks .duration
{
	float: right;
	font-style: italic;
	width: 40px;
}

.gallerybody
{
	background-color: #000;
}

.downloadbody .main
{
	color: #fff;
	text-align: left;
}
.downloadbody .main h2
{
	margin-bottom: 15px;
	margin-left: 60px;
}
.downloadbody #wallpapers
{
	margin-top: 100px;
	width: 500px;
}
.downloadbody #wallpapers ul,
.downloadbody #profilelinks ul
{
	margin-left: 40px;
}
.downloadbody #wallpapers li,
.downloadbody #profilelinks li
{
	border: 15px solid transparent;
	border-image: url(../images/frame.png) 25 15 stretch;
	float: left;
	margin: 5px 20px;
}
.downloadbody #profilelinks li
{
	border: none;
}

.downloadbody #wallpapers li img
{
	display: block;
}

.downloadbody #profilelinks
{
	margin-top: 20px;
}

#popup
{
	background: rgba( 0, 0, 0, 0.6 );
	height: 100%;
	left: 0;
	line-height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2000;
}
#popup>img
{
	left: 50%;
	margin-left: -194px;
	margin-top: -275px;
	outline: 5px solid #fa4d47;
	position: absolute;
	top: 50%;
}
#popup .close
{	
	background: #fa4d47;
	color: #fff;
	cursor: pointer;
	padding: 7px 20px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

.newsbody .main
{
}
.newsbody h2
{
	color: #fff;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-top: 80px;
	text-align: left;
}

.newsbody #container
{
	margin-left: 40px;
	width: 60%;
}
.newsbody #container li
{
	display: inline-block;
}

.newsbody .item
{
	margin: 2px;
}

#down
{
	-webkit-animation: down infinite 1.5s;
	animation: down infinite 1.5s;
	background: url(../images/down.png) no-repeat;
	bottom: 10px;
	height: 50px;
	position: fixed;
	right: 10px;
	width: 50px;
	z-index: 1000;
}


@-webkit-keyframes down
{
	0%{ bottom: 30px; }
	50%{ bottom: 0px; }
	100%{ bottom: 30px; }
}
@keyframes down
{
	0%{ bottom: 30px; }
	50%{ bottom: 0px; }
	100%{ bottom: 30px; }
}



#feedbackcontainer
{
	background: #eee;
	bottom: 0;
	box-shadow: -3px 3px 3px rgba( 0, 0, 0, 0.5 );
	padding: 25px 35px;
	position: fixed;
	right: 0;
	-webkit-transition: right 0.4s linear;
	transition: right 0.4s linear;
	width: 345px;
	z-index: 10;
}

#feedbackcontainer.behind
{
	right: -349px;
}

#feedbackcontainer h2
{
	background: #eee;
	bottom: 30px;
	box-shadow: -3px -3px 3px rgba( 0, 0, 0, 0.5 );
	color: #fa4d47;
	cursor: pointer;
	left: 0;
	padding: 6px 9px;
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: bottom left;
}
#feedbackcontainer h2:hover
{
	background: #fa4d47;
	color: #fff;
}

#feedbackcontainer input,
#feedbackcontainer textarea
{
	border: none;
	display: block;
	font-family: 'Oswald', 'Exo 2', Verdana, Arial, Helvetica, sans-serif;
	margin: 8px auto;
	padding: 6px;
	resize: vertical;
	width: 100%;
}

#feedbackcontainer input[type='reset'],
#feedbackcontainer input[type='submit']
{
	background: #fa4d47;
	color: #fff;
}

#processing
{
	background: rgba( 255, 255, 255, 0.8 );
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#processing img
{
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}




@media all and ( min-width: 1200px )
{
	.musicboxes>section
	{
		width: 100%;
	}
	.musicboxes .tracks,
	#music2 .tracks
	{
		margin: 0 auto;
	}
}